body {
    background-image: url("background.png"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}


header {
    display: flex;
  justify-content: space-evenly;
    padding: 15px;
    width: 100vw;
    height: 15%;
}

.logo {
    width: 20%; 
    margin-left: -10%;
    
  
}

.navigation {
    list-style-type: none;
    display: flex;
    gap: 5px;
    color:  black;
    width: 80%;
  
  
    
}

.navigation li {
    list-style: none;
    padding: 10%;

}


.cart {
    width: 8%;
    margin-left: 20%;

   
}

.container {
    display: flex;
    width:100%;
    height: 75%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 20px;
    padding: 20px;
    height:60%;
    align-items:center;
    justify-content: space-around;
    
}

.sidebar img {
    padding: 5%;
    width: 100%; 
    margin: 5%;
}


.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
     width: 40% ;
}
.center-content button {
    padding: 10px 20px;
    font-size: 16px;
    margin:8%;
    width:40%;
    height: 10%;
    
}
p{
    width:80%;
    margin-bottom: 5%;
    text-align:center;
}

.arrows {
    width: 60%;
    height: 10%;
    display: flex;
    margin:15%;
}

.arrows img {
    width: 40%; 
    margin-bottom: 1px;
 
    padding:2%;

}






.image_right {
    height: 100% ;
    width: 50% ;
    contain:content;
}

.image_right img {
    height: 100%;
    width: 100%;
}

